@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  padding: 20px;
  margin: 1;
}

.logo {
  width: 300px;
}

.links {
  gap: 20px;
  padding: 10px;
  text-decoration: none;
  color: #d5d5d5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.currentPage {
  gap: 20px;
  padding: 10px;
  text-decoration: none;
  color: #f9c702;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.links:hover {
  color: #f9c702;
}

.textbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 900px;
  margin: 0 auto;
  padding-top: 20rem;
  font-size: 1rem;
  line-height: 1.75rem;
}

.button:hover {
  background-color: #ffc107;
}